@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.custom-input {
  appearance: none;
  background-color: #fff;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  color: #1f2937;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem 1rem;
  transition-duration: 150ms;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  width: 100%;
}

.custom-input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 0.125rem rgba(37, 99, 235, 0.25);
  outline: none;
}

/* estilo dos elementos da lista de repositórios */
li {
  list-style-type: none;
  padding: 0.75rem 0;
}

li:hover {
  background-color: #f6f8fa;
  cursor: pointer;
}
